---

layout: single 
author_profile: true

---
<p> 
Hey, welcome to my virtual personal space where I organize my projects, ideas and current excursions.<br>
Feel free to explore:</p>
	<!--<ul>-->
		<!--<li><a href="{% link _pages/blog_archive.md %}">Blog</a></li>-->
		<!--<li><a href="{% link _pages/projects.md %}">Projects</a></li>-->
		<!--<li><a href="{%link _pages/resume.md%}">Résumé</a></li>-->
	<!--</ul>-->
	<figure class="third">
		<a href="{% link _pages/blog_archive.md %}">
			<!--<img src="{%link assets/images/general/blog.png %}" caption="Blog">-->
			{% include figure image_path="assets/images/general/blog.png" align="center" %}
		</a>
		<a href="{% link _pages/projects.md %}">
			<!--<img src="{%link assets/images/general/projects.png %}">-->
			{% include figure image_path="assets/images/general/projects.png" align="center" %}
		</a>
		<a href="https://drive.google.com/file/d/1crHqVxL70xCO58cUWZYcQAgXaB5hrOgM/view?usp=sharing">
			<!--<img src="{%link assets/images/general/cv.png %}">-->
			{% include figure image_path="assets/images/general/cv.png" align="center" %}
		</a>
	</figure>

<h2>
	Generic Updates 
</h2>
<br>
{% capture buffer %} {% include_relative readme.md %}{% endcapture %}
{{ buffer | markdownify }}

