<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
	{{- end }}
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- if .Site.Params.twitter_cards }}
		{{ template "_internal/twitter_cards.html" . }}
	{{- end }}

	{{- $googleFontsLink := .Site.Params.googleFontsLink | default "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
	{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" {{ printf `href="%s"` $googleFontsLink | safeHTMLAttr }}>
	{{- end }}

	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		{{- if hasPrefix .Site.GoogleAnalytics "G-" }}
		{{ template "_internal/google_analytics.html" . }}
		{{- else }}
		{{ template "_internal/google_analytics_async.html" . }}
		{{- end }}
	{{- end }}

<!--<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="rajp152k" data-description="Support me on Buy me a book!"  data-color="#FF5F5F" data-position="center" data-x_margin="20" data-y_margin="20"></script>-->

<script>
  (function (s, e, n, d, er) {
    s['Sender'] = er;
    s[er] = s[er] || function () {
      (s[er].q = s[er].q || []).push(arguments)
    }, s[er].l = 1 * new Date();
    var a = e.createElement(n),
        m = e.getElementsByTagName(n)[0];
    a.async = 1;
    a.src = d;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
  sender('17d1fe83579561')
</script>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "idey8dw0cf");
</script>
<link rel = "icon" href = "{{ .Site.Params.head_logo }}" type = "image/x-icon">
<!--<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=64e2091c4265f4001221c906&product=sticky-share-buttons&source=platform" async="async"></script>-->

<script defer src="https://analytics.us.umami.is/script.js" data-website-id="96d588b9-d7c5-48a7-b3db-94fe392c06c9"></script>


</head>
<body class="body">
	<div class="container container--outer">
		{{ block "header" . }}{{ partial "header.html" . }}{{ end }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}
		</div>
		{{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>
